<!DOCTYPE html>
<html>

<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async>
    </script>
</head>

<body>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div class="text-white" id="landing-header">
        <h1 class="font-weight-bold">YelpCamp!</h1>        
        <p class="font-weight-normal">Start Planning your next trip today!</p>
        <hr>
        <a href="/campgrounds" class="btn btn-warning btn-lg"><i class="fa fa-tree"></i> Get Started!</a>

        <form action="/campgrounds" method="get" class="form-inline justify-content-center align-items-center">
            <div class="form-group mx-sm-1 mb-2">
                <input class="form-control" type="search" name="search" placeholder="Search Campgrounds... ">
            </div>
            <button type="submit" class="btn mb-2">Search</button>
        </form>

    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>